.pending {
    width: 22rem;
    border: 2px solid yellow;
}
.inprogress {
    width: 22rem;
    border: 2px solid blue;
}
.done {
    width: 22rem;
    border: 2px solid green;
}
.late {
    width: 22rem;
    border: 2px solid darkred;
}

.User {
    margin: 5px;
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    float: right;
}
.pt-PT {
    margin: 5px;
    height: 25px;
    width: 25px;
    background-color: greenyellow;
    border-radius: 50%;
    display: inline-block;
}

.card {
    width: 30rem;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

    /* On mouse-over, add a deeper shadow */
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}