@page "/fetchdata"
@inject HttpClient Http
@using TaskManager.Business.Dtos

<p>You have somethings to do...</p>

@if (tasks == null)
{

    <div class="center colorful-3"></div>
}
else
{
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in tasks)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Title</td>
                        <td>@item.Status.Id</td>
                        <td>@item.Status.Name</td>

                    </tr>
                }
            </tbody>
        </table>
    }

@code {
    private IEnumerable<TaskUi> tasks;

    protected override async Task OnInitializedAsync()
    {
        tasks = await Http.GetFromJsonAsync<IEnumerable<TaskUi>>("/Task");
    }

    public class TaskUi
    {
        public int Id { get; set; }

        public string Title { get; set; }

        public string Description { get; set; }

        public DateTimeOffset StartDate { get; set; }

        public DateTimeOffset EndDate { get; set; }

        public TaskStatusDto Status { get; set; }

        public int UserId { get; set; }
    }
}
