@page "/fetchdata"
@inject HttpClient Http

<p>Fetching data from the server.</p>

@if (tasks == null)
{
    
    <div class="center colorful-3"></div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in tasks)
            {
                <tr>
                    <td>@item.StartDate.ToString()</td>
                    <td>@item.Title</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<TaskUi> tasks;

    protected override async Task OnInitializedAsync()
    {
        tasks = await Http.GetFromJsonAsync<IEnumerable<TaskUi>>("/task");
    }

    public class TaskUi
    {
        public int Id { get; set; }

        public string Title { get; set; }

        public string Description { get; set; }

        public DateTimeOffset StartDate { get; set; }

        public DateTimeOffset EndDate { get; set; }

        public int Status { get; set; }

        public int UserId { get; set; }
    }
}
