@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@page "/"

<h1>Hello, world!</h1>
<div class="g-signin2" data-onsuccess="onSignIn"></div>
Welcome to your new app.

<SurveyPrompt Title="How is Manazor working for you?" />
