@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using TaskManager.Pages
@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">manaZOR</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Today
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="alltasks">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Task List
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="claims">
                <span class="oi oi-list-rich" aria-hidden="true"></span> User Claims
            </NavLink>
        </li><li class="nav-item px-3">
            <NavLink class="nav-link" href="landingpage">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="addtask">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Add New
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <button class="nav-link btn btn-link" @onclick="BeginSignOut">
                Log out
            </button>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private async Task BeginSignOut(MouseEventArgs args)
    {
        var t = await SignOutManager.ValidateSignOutState();
        await SignOutManager.SetSignOutState();
        var t2 = await SignOutManager.ValidateSignOutState();
        Navigation.NavigateTo("authentication/logout");

    }
}
