@inject NavigationManager Navigation
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<div>
    Landing page...<br />
    <a class="center" href="/authentication/Login">Login</a>
</div>

@*@code {
    protected override void OnInitialized()
    {
        Navigation.NavigateTo(
            $"authentication/login?returnUrl={Uri.EscapeDataString(Navigation.Uri)}");
    }
}*@